html,
body {
  background-color: #14141e;
  color: #fffffe;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

#Text {
  left: 50%;
  margin-left: -160px;
  margin-top: -150px;
  position: absolute;
  top: 50%;
  width: 320px;
}
#Text h1,
#Text p {
  text-align: center;
}
#Text p {
  font-size: 18px;
}
#Text a {
  color: #fffffe;
  text-decoration: none;
}
#Text a:hover {
  text-decoration: underline;
}
